@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
* {
    box-sizing: border-box;
}
.row {
  overflow: hidden; 
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

body{
    padding-right: 42px;
    padding-top: 36px;
    padding-bottom: 42px;
}

h1, h3 { line-height: 5% }

.In-Theaters {
    font-family: Roboto;
    font-weight: 300;
    color: #3b3f47;
    padding-bottom: 24px;
}

.View-More {
    font-family: Roboto;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: right;
    color: #276cf2;
    line-height: 155%;
    text-align: right;
    vertical-align: middle;
    padding-top: 24px;
    top:0px;
}

.Top-Movies-This-Week {
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #6b6b6b;
    padding-bottom: 48px;
}

.One-line-movie-title {
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.4px;
    padding-top: 48px;
    padding-bottom: 48px
}

.Rectangle-285 {
    border-radius: 2.5px;
    background-color: #f2f3f5;
    margin-bottom: 48px
}

.Mauris-vel-nunc-eros {
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0.5px;
    color: #6b6b6b;
    padding-right: 48px;
    padding-bottom: 48px
}

.Picture {
    min-height: 100%;
    background-color: #bd10e0;
    text-align: center;
    vertical-align: middle;
}

.Movie-Poster {
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
    background-size: 100%;
    width: 100%;
    height: auto;
}

.Oval-disselected {
    width: 26px;
    height: 26px;
    border: solid 1px #979797;
    border-radius: 50%;
    display: inline-block; *display: inline; zoom: 1;
    cursor: pointer;
}

.Oval-selected {
    width: 26px;
    height: 26px;
    background-color: #979797;
    border: solid 1px #979797;
    border-radius: 50%;
    display: inline-block; *display: inline; zoom: 1;
    cursor: pointer;
}

.Star{
    margin-bottom: 36px;
}

/* For mobile phones: 
[class*="col-"] {
}*/
[class*="col-"] {
    float: left;
    width: 100%;
    overflow: hidden; 
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    padding-left: 48px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
 
/* Mobile */
@media all and (max-width: 319px) {

    .In-Theaters{
        font-size: 18px;
    }
    .View-More {
        font-size: 12px;
    }
    .Top-Movies-This-Week{
        font-size: 12px;
    }
    .One-line-movie-title{
        font-size: 16px;
    }
    .Mauris-vel-nunc-eros {
        font-size: 12px;
    }
    .Star {
        width: 48px
    }
}

@media all and (min-width: 960px) {

    .In-Theaters{
        font-size: 64px;
    }
    .View-More {
        font-size: 28px;
    }
    .Top-Movies-This-Week{
        font-size: 28px;
    }
    .One-line-movie-title{
        font-size: 32px;
    }
    .Mauris-vel-nunc-eros {
        font-size: 28px;
    }
    .Star {
        width: 48px
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {

    .In-Theaters{
        font-size: 48px;
    }
    .View-More {
        font-size: 24px;
    }
    .Top-Movies-This-Week{
        font-size: 24px;
    }
    .One-line-movie-title{
        font-size: 28px;
    }
    .Mauris-vel-nunc-eros {
        font-size: 24px;
    }
    .Star {
        width: 32px
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {

    .In-Theaters{
        font-size: 48px;
    }
    .View-More {
        font-size: 24px;
    }
    .Top-Movies-This-Week{
        font-size: 24px;
    }
    .Movie-Poster{
        min-width: 360px;
    }
    .One-line-movie-title{
        font-size: 28px;
    }
    .Mauris-vel-nunc-eros {
        font-size: 24px;
    }
    .Star {
        width: 28px
    }
}
